.filter-selector {
  display: flex;
  justify-content: space-between;
}

label {
  margin: 0.5rem;
}

select {
  margin: 0.5rem;
  width: 6vw;
  height: 3vh;
  text-align: center;
  font-weight: bold;
}